content.content
    .container
        .content-wrap.col75
            .content-title
                h1 
                    span Знай
                    span.red !
                    span Строй - сайт о строительстве и проектировании
                p Здесь вы найдете информацию о строительстве и проектировании зданий, инженерных коммуникаций и других объектов строительства.
                p Вы сможете рассчитать необходимые строительные конструкции, вычислить объем работ для составления сметы.
                p Благодаря нашему сайту, вы сможете сами спроектировать и построить дом, дачу, баню, или гараж.
                p Вы сможете избежать многих ошибок, выбрать квалифицированную и честную бригаду строителей.
            .content-item
                .content-item-line 
                    span.content-item-title Новичок в строительстве?
                    img(src="../images/icons/tick-mark.png", alt="")
                .content-item-wrap
                    .content-item-img
                        img(src="../images/icons/know.png", alt="")
                    .content-item-text
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde dolor quia reprehenderit, ipsa tenetur repellat voluptate explicabo nam labore laboriosam maxime. Necessitatibus iusto dicta tempora expedita rerum velit iste quos! 
                    .btn-green
                        a.btn-green-link(href="http://", target="_blank", rel="noopener noreferrer")
                            span УЗНАТЬ
                            i.fa.fa-angle-right(aria-hidden="true")
            .content-item
                .content-item-line 
                    span.content-item-title Необходимо выполнить расчеты?
                    img(src="../images/icons/tick-mark.png", alt="")
                .content-item-wrap
                    .content-item-img
                        img(src="../images/icons/calc.png", alt="")
                    .content-item-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dicta, laborum omnis deserunt vitae sapiente aperiam mollitia, quo, nemo non quod eaque asperiores quae harum? Nemo nam esse repudiandae doloribus.
                    .btn-green
                        a.btn-green-link(href="http://", target="_blank", rel="noopener noreferrer")
                            span РАССЧИТАТЬ
                            i.fa.fa-angle-right(aria-hidden="true")
            .content-item
                .content-item-line 
                    span.content-item-title Нет опыта строительных работ?
                    img(src="../images/icons/tick-mark.png", alt="")
                .content-item-wrap
                    .content-item-img
                        img(src="../images/icons/build.png", alt="")
                    .content-item-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dicta, laborum omnis deserunt vitae sapiente aperiam mollitia, quo, nemo non quod eaque asperiores quae harum? Nemo nam esse repudiandae doloribus.
                    .btn-green
                        a.btn-green-link(href="http://", target="_blank", rel="noopener noreferrer")
                            span ПОСТРОИТЬ
                            i.fa.fa-angle-right(aria-hidden="true")
            .content-item
                .content-item-line 
                    span.content-item-title Остались вопросы?
                    img(src="../images/icons/tick-mark.png", alt="")
                .content-item-wrap
                    .content-item-img
                        img(src="../images/icons/question.png", alt="")
                    .content-item-text 
                        p Если не нашли ответов на страницах сайта, можете задать вопрос на форуме. Также получить ответ на интересующий вас вопрос можете у администации сайта. 
                            a(href="") Задать вопрос.
                    .btn-green
                        a.btn-green-link(href="http://", target="_blank", rel="noopener noreferrer")
                            span ФОРУМ
                            i.fa.fa-angle-right(aria-hidden="true")
            .new-articles
                .new-articles-line
                    span.new-articles-title Новое на сайте
                .new-articles-item-wrap.clearfix 
                    .new-articles-item.col25
                        .new-articles-item-content
                            .new-articles-img
                                img(src="../images/newspaper.png", alt="")
                            span.new-articles-headline Новая статья 1
                    .new-articles-item.col25
                        .new-articles-item-content
                            .new-articles-img
                                img(src="../images/newspaper.png", alt="")
                            span.new-articles-headline Новая статья 2           
                    .new-articles-item.col25
                        .new-articles-item-content
                            .new-articles-img
                                img(src="../images/newspaper.png", alt="")
                            span.new-articles-headline Новая статья 3
                    .new-articles-item.col25
                        .new-articles-item-content
                            .new-articles-img
                                img(src="../images/newspaper.png", alt="")
                            span.new-articles-headline Новая статья 4
        aside.aside-right.col25
            .aside-right-wrap
                h2 Рубрики
                .aside-right-block
                    .aside-right-item-title
                        span Проектирование                   
                    ul.aside-right-item
                        li
                            a(href="") Фундаменты
                        li
                            a(href="") Стены
                        li
                            a(href="") Перекрытия
                        li
                            a(href="") Лестницы
                        li
                            a(href="") Кровля
                        li
                            a(href="") Водопровод и канализация
                        li
                            a(href="") Отопление и вентиляция
                    .aside-right-item-title
                        span Расчеты
                    ul.aside-right-item
                        li
                            a(href="") Сбор нагрузок
                        li
                            a(href="") Выбор расчетной схемы
                        li
                            a(href="") Расчет фундаментов
                        li
                            a(href="") Расчет балок
                        li
                            a(href="") Расчет плит
                        li
                            a(href="") Калькуляторы
                    .aside-right-item-title
                        span Строительство
                    ul.aside-right-item
                        li
                            a(href="") Жилой дом
                        li
                            a(href="") Баня
                        li
                            a(href="") Забор
                        li
                            a(href="") Составление сметы
                    .aside-right-item-title
                        span Юридические вопросы
                    ul.aside-right-item
                        li
                            a(href="") Разрешение на строительство
                        li
                            a(href="") Охранные зоны
                

            