.container        
    .up-button-area
        a(href="#", title="Вернуться к началу") Наверх
            i.fa.fa-arrow-up(aria-hidden="true")
footer.footer
    .container
        .footer-wrap.clearfix
            .footer-item.col33
                .footer-item-content.no-wrap
                    .footer-item-content-wrap.col50
                        .footer-item-content-img
                            img(src="../images/logo/Logo.png", alt="")
                    .footer-item-content-wrap
                        a(href="") Карта сайта
                        a(href="") Форум
                        p Все права защищены
                        p 2019
            .footer-item.col33
                .footer-item-content
                    p Вы можете задать нам вопрос по общестроительным вопросам или заказать индивидуальную консультацию.
                    .mail-to-us
                        a(href="") Связаться с нами
            .footer-item.col33
                .footer-item-content
                    p Следить за публикациями на сайте можно в соцсетях:
                    .networks-link
                        a(href="")
                            img.instagram(src="../images/icons/001-instagram.png", alt="")
                        a(href="")
                            img.vk(src="../images/icons/002-vk.png", alt="")
